@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500");

:root {
    --font-family-sans-serif: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, body,
.h1, .h2, .h3, .h4, .h5, .h6,
.btn, .nav, .navbar-brand, .card-link,
.pagination, .badge, .tooltip, .popover,
.ant-statistic-content
{
    font-family: 'Roboto', "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
    font-weight: 300;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

#__next {
    height: 100%;
    width: 100%;
}
